

.history {
    width: 100%;
}

.historyIcon {
    margin: 50px 0 50px 30px;
    color: #8be9fd;
    font-size: 16px;
    text-align: center;
}

.history_items {
    width: 100%;
    top: 0;
    max-height: 100%;
    text-align: center;
}

.item {
    margin-left: 30px;
}

.imgHistory {
    width: 18px;
}

.NewHistory {
    margin-bottom: 40px;
    text-align: left;
    padding-left: 10px;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    font-weight: 100;
    line-height: 18px;
}


.linkHistory{
    color: white;
}

.linkHistory:hover{
    color:#f1fa8c;
}
.imgHistory{
    padding-right: 10px;
}
.liHistory{
    margin-top:15px;
}
.TimeAgo{
    padding-left: 20px;
    color: #999;
}
.TimeAgo:hover{
    color: #999;
}