.history {
    width: 100%
}

.historyIcon {
    margin: 50px 0 50px 30px;
    color: #8be9fd;
    font-size: 16px;
    text-align: center;
}

.history_items {
    width: 100%;
    top: 0;
    max-height: 100%;
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item {
    width: 95%;
    text-align: left;
    padding-left: 10px;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    font-weight: 100;
    line-height: 18px;
    margin: 10px auto;
}

.imgHistory {
    width: 10%;
    padding-right: 15px;
}

.linkHistory {
    color: white
}

.linkHistory:hover {
    color: #f1fa8c
}

.imgHistory>img {
    width: 18px;
    height: 18px;
}

.TimeAgo {
    float:right;
    color: #999;
}