body {
    width: 100%;
    overflow-y: hidden;
}

.Main-Navbar {
    position: absolute;
    height: 100vh;
    background-color: #44475a;
}

.Main-items {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    align-content: center;
}

.Main-Reddit-Item {
    padding-left: 145px;
    width: 23vw;
    background-color: #282a36;
}

.Main-Middle-Items {
    width: 60%;
    background-color: #282a36;
}

.Main-HistoryJS-Item {
    width: 100%;
    height: 50vh;
    background-color: #282a36;
    overflow-y: auto;
}

.Main-Clock-Item {
    width: 100%;
    height: 50vh;
    background-color: #282a36;
    overflow-y: auto;
}

.Main-GitHub-Item {
    width: 20vw;
    background-color: #282a36;
}